@import "tailwindcss";

@theme {
    --move-right:moveRight 1s ease-in-out infinite;

    @keyframes moveRight {
        0%,100%{
            transform: translateX(0);
        }
        50%{
            transform: translateX(10px);
        }
    }
    --primary-color: #1f2937;
    --secondary-color: hsl(218, 28%, 13%);
    --footer-color: hsl(216, 53%, 9%);
     
}


@layer{
    .container{
        @apply mx-auto;
    }
    .element-center{
        @apply flex justify-center items-center;
    }
    .btn{
        @apply flex justify-center items-center rounded-full text-xl font-bold capitalize bg-[#339ecc] hover:bg-[#339ecccb] transition-all duration-200 cursor-pointer
    }
}


body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--secondary-color);
    color: white;
}